{% extends "base.html" %}

{% block body %}
<div class="text-center">
    <div class="row justify-content-md-center">
    <h1 class="page-header">Input image</h1>
    </div>
    {% if selected_image %}
        <div class="row justify-content-md-center">
            <img src="{{ url_for('static', filename = 'queries/' + selected_image) }}"
                 style="max-height: 300px;
                 width: auto"
                 alt="">
        </div>
    {% else %}
        <div class="row justify-content-md-center">
            <img src="{{ url_for('static', filename = 'assets/empty.png')}}"
                 style="max-height: 300px;
                 width: auto"
                 alt="">
        </div>
        <div class="row justify-content-md-center">
            <p>Select an image via the file selector and press upload. Afterwards you can retrieve similar images.</p>
        </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-5">
            <form id="upload-form"
                  action="{{ url_for('views.select_query_image') }}"
                  method="POST"
                  enctype="multipart/form-data">
                <input class="button"
                       id="file-selector"
                       type="file"
                       name="file"
                       accept="image/*"
                       multiple>
                <button type="submit"
                        class="btn btn-primary">Upload!</button>
            </form>
        </div>
        <div class="col-md-auto">
            {% if selected_image %}
                 <form id="upload-form"
                      action="{{ url_for('views.start_query') }}"
                      method="POST"
                      enctype="multipart/form-data">
                    <button type="submit"
                            class="btn btn-primary" >Retrieve</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}