{% extends "base.html" %}

{% block body %}
    <div class="col-sm-9">
        <h1 class="page-header">Input image</h1>

        {% if selected_image %}
		    <img src="{{ url_for('static', filename = 'queries/' + selected_image) }}"
                 style="max-height: 200px;
                 width: auto"
                 alt="">
        {% else %}
            <img src="{{ url_for('static', filename = 'assets/empty.png')}}"
                 style="max-height: 200px;
                 width: auto"
                 alt="">
            <p>Select an image via the file selector and press upload. Afterwards you can retrieve similar images.</p>
        {% endif %}



        <div class="row">
            <div class="col">
                <form id="upload-form"
                      action="{{ url_for('views.select_query_image') }}"
                      method="POST"
                      enctype="multipart/form-data">
                    <input class="button"
                           id="file-selector"
                           type="file"
                           name="file"
                           accept="image/*"
                           multiple>
                    <button type="submit"
                            class="btn btn-primary">Upload!</button>
                </form>
            </div>
        <div class="col">
            {% if selected_image %}
                 <form id="upload-form"
                      action="{{ url_for('views.start_query') }}"
                      method="POST"
                      enctype="multipart/form-data">
                    <button type="submit"
                            class="btn btn-primary" >Retrieve</button>
                </form>
            {% endif %}

            
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}